.banner{
  background-color: #612c83;
  color: white;
  padding: 80px;
  text-align: left;
  color: #212121;
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}

.header{
  color: white;
}

.approach{
  width:100%;
}

.interviews{
  width: 100%;
}